@model MangaModelCreate

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h2 class="display-4">Add new manga</h2>
    <hr />
    
    
    <form enctype="multipart/form-data" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Author" class="control-label"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.DropDownList("Genre",
            Html.GetEnumSelectList<GenreType>(),
            "Select Genre", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label asp-for="Chapters" class="control-label"></label>
            <input asp-for="Chapters" class="form-control" />
            <span asp-validation-for="Chapters" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Releasedate" class="control-label"></label>
            <input asp-for="Releasedate" class="form-control" />
            <span asp-validation-for="Releasedate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Rating" class="control-label"></label>
            <input asp-for="Rating" class="form-control" />
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="control-label">Status</label>
            <label class="form-check-label">
                <label for="Ongoing">Ongoing</label>
                @Html.RadioButtonFor(m => m.Status, false)
                <label for="Finished">Finished</label>
                @Html.RadioButtonFor(m => m.Status, true)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
                <label asp-for="MangaImage" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="MangaImage" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="MangaImage" class="text-danger"></span>
            </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
