@model IEnumerable<MangaModel>

@{
    ViewData["Title"] = "Populair Manga";
}

<div class="container">
    <div class="row mt-5" align="center">

        @foreach (var item in Model)
        {


            <div class="col-md-4 mb-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/Uploaded_covers/@item.fileName" alt="@item.Title" asp-append-version="true" />

                    <div class="card-body">
                        <p class="card-text">@item.Title</p>
                        <a class="btn btn-info" asp-controller="Mangas" asp-action="Details" asp-route-id="@item.Id" asp-route-title="@item.Title">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

    

